* {
    border: 1px solid red;
}

body, html {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    
}


.container {
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.display {
    text-align: right;
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 28px;
    

}

.button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    

}

.digit_button, .operator_button, .equals_button {
    width: 92px;
    flex-shrink: 0;
    height: 50px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    

}

.operator_button, .equals_button {
    font-size: 26px;
}


.equals_button {
    background-color: 	rgb(255,140,0);
    color: white;
}