

body, html {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;

    
}


.container {
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: 	rgb(128,128,128);
    border-radius: 10px;
    padding: 15px;
}

.display {
    text-align: right;
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 28px;
    background-color: #d4edda;
    

}

.button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    padding: 5px;
    
    

}

.digit_button, .operator_button, .equals_button, .clear_button {
    width: 92px;
    flex-shrink: 0;
    height: 50px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    

}

.operator_button {
    font-size: 28px;
    background-color: rgb(60,179,113);
    color: white ;

}



.equals_button {
    background-color: 	rgb(255,140,0);
    color: white;
    font-size: 33px;
}